@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@font-face {
    font-family: dinround;
    src: url(Fonts/dinroundpro_bold.otf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: dinround;
    
}


/* Header */

.header-container{
    width: 100%;
    height: 696px;
        /* background-color: aqua; */
}


.navbar-container{
    height: 70px;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgba(175, 175, 175, 0.4);
    position: fixed;

}

.navbar{
    width: 100%;
    height: 100%;
    /* background-color: brown; */
    display: flex;
    align-items: center;
}



@media (min-width:992px){
    .navbar{
        justify-content: space-between;
        align-items: center;
        display: flex;
        height: 70px;

    }
}


@media (max-width:992px){
    .navbar-logo{
        width: 179px;
        height: 47px;
        display: flex;
        justify-content: center;
    img{
        width: 170px;
        height: 38px;
    }
    }
}




.navbar-text{
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .8px;
    text-transform: uppercase;
    justify-content: end;
    font-family: dinround,sans-serif;


}

@media (max-width:992px){
    .navbar-text{
        display: none;
    }
}


/* Header content */

.header-content-container{
    width: 100%;
    height: 626px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content{
    width: 100%;
    height: 100%;
    display: flex;
}



.header-content-image{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
img{
    width: 424px;
    height: 424px;
}
}

.header-content-text{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
h1{
    font-size: 32px;
    text-align: center;
    color: #4B4B4B;
}
}



.header-content-buttons{
    width: 330PX;
    height: 112px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 25px;
}


@media (max-width:992px){
    .header-content-image{
        width: 100%;
        height: 50%;
    img{
        width: 324px;
        height: 324px;
    }
    }
    .header-content-text{
        width: 400px;
        height: 50%;
    }
}

@media (min-width:992px){
    .header-content-text-h1{
        width: 480px;
        height: 88px;
        font-size: 32px;
    }
}

@media(max-width:992px){
    .header-content-text-h1{
        width: 345px;
        height: 153px;
        font-size: 30px;
    }
}

@media (min-width:992px){
    .header-contries-container{
        width: 100%;
        height: 80px;
        display: flex;
        border-bottom: 2px solid rgba(175, 175, 175, 0.4);
        border-top: 2px solid rgba(175, 175, 175, 0.4);

    }
    
    .header-contries {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }
}

@media(max-width: 992px){
    .header-contries-container{
        display: none;
    }
    .header-contries{
        display: none;
    }

}


.header-contries-logos{
    width: 100%;
    height: 28px;
    display: flex;
    justify-content: space-evenly;
}

.logos-compo{
    width:  110px;
    height: 28px;
    display: flex;
    justify-content: center;
}



/* Main Content */

/* SECTION - 1 */

.section-1-container{
    width: 100%;
    height: 2312px;
    /* background-color: aqua; */
    /* display: flex;
    /* flex-direction: column; */
    /* justify-content: center;  */
    padding: 90px 0;
}

.section-1-outer{
    width: 988px;
    height: 530px;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
}

.section-1-div-1{
    width: 473px;
    height: 180px;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    gap: 13px;
}

.section-1-div-2{
    width: 530px;
    height: 530px;
    display: flex;
    align-items: center;
    justify-content: center;
img{
    width: 500px;
    height: 500px;
}
}


@media (max-width:992px){
    .section-1-container{
        height: 2750px;
    }
}





/* ------------------------ */


@media (min-width:992px){
    .section-1-outer{
        width: 988px;
        height: 530px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        padding: 0;
    }
    
    .section-1-div-1{
        width: 473px;
        height: 180px;
        padding: 0 130px;
    h2{
        font-size: 48px;
        font-weight: 700;
    }
    }
    
    .section-1-div-2{
        width: 530px;
        height: 530px;
    
    }
    
}

@media(max-width:992px){
    .section-1-outer{
        width: 963px;
        height: 664px;
        display: flex;
        flex-direction: column;
    }

    .section-1-div-1{
        width: 340px;
        height: 235px;
        text-align: center;
    h2{
        font-size: 36px;
        font-weight: 700;
    }
    }

    .section-1-div-2{
        width: 345px;
        height: 345px;
    img{
        width: 345px;
        height: 345px;
    }
    }
}


/* SECTION - 2 */


.section-2-outer{
    width: 988px;
    height: 530px;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    
}

.section-2-div-1{
    width: 473px;
    height: 180px;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    gap: 13px;
}

.section-2-div-2{
    width: 530px;
    height: 530px;
    display: flex;
    align-items: center;
    justify-content: center;
img{
    width: 500px;
    height: 500px;
}
}



@media (min-width:992px){
    .section-2-outer{
        width: 988px;
        height: 530px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        padding: 0;
    }
    
    .section-2-div-1{
        width: 473px;
        height: 180px;
        padding: 0 130px;
    h2{
        font-size: 48px;
        font-weight: 700;
    }
    }
    
    .section-2-div-2{
        width: 530px;
        height: 530px;
    
    }
    
}

@media(max-width:992px){
    .section-2-outer{
        width: 963px;
        height: 664px;
        display: flex;
        flex-direction: column-reverse;
    }

    .section-2-div-1{
        width: 340px;
        height: 235px;
        text-align: center;
        
    h2{
        font-size: 36px;
        font-weight: 700;
    }
    }

    .section-2-div-2{
        width: 345px;
        height: 345px;
    img{
        width: 345px;
        height: 345px;
    }
    }
}


/* SECTION - 3 */


.section-3-outer{
    width: 988px;
    height: 530px;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    
}

.section-3-div-1{
    width: 473px;
    height: 180px;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    gap: 13px;
}

.section-3-div-2{
    width: 530px;
    height: 530px;
    display: flex;
    align-items: center;
    justify-content: center;
img{
    width: 500px;
    height: 500px;
}
}



@media (min-width:992px){
    .section-3-outer{
        width: 988px;
        height: 530px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        padding: 0;
    }
    
    .section-3-div-1{
        width: 473px;
        height: 180px;
        padding: 0 130px;
    h2{
        font-size: 48px;
        font-weight: 700;
    }
    }
    
    .section-3-div-2{
        width: 530px;
        height: 530px;
    
    }
    
}

@media(max-width:992px){
    .section-3-outer{
        width: 963px;
        height: 664px;
        display: flex;
        flex-direction: column;
    }

    .section-3-div-1{
        width: 340px;
        height: 235px;
        text-align: center;
        
    h2{
        font-size: 36px;
        font-weight: 700;
    }
    }

    .section-3-div-2{
        width: 345px;
        height: 345px;
    img{
        width: 345px;
        height: 345px;
    }
    }
}



/* SECTION - 4 */


.section-4-outer{
    width: 988px;
    height: 530px;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    
}

.section-4-div-1{
    width: 473px;
    height: 180px;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    gap: 13px;
}

.section-4-div-2{
    width: 530px;
    height: 530px;
    display: flex;
    align-items: center;
    justify-content: center;
img{
    width: 500px;
    height: 500px;
}
}



@media (min-width:992px){
    .section-4-outer{
        width: 988px;
        height: 530px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        padding: 0;
    }
    
    .section-4-div-1{
        width: 473px;
        height: 180px;
        padding: 0 130px;
    h2{
        font-size: 48px;
        font-weight: 700;
    }
    }
    
    .section-4-div-2{
        width: 530px;
        height: 530px;
    
    }
    
}

@media(max-width:992px){
    .section-4-outer{
        width: 963px;
        height: 664px;
        display: flex;
        flex-direction: column-reverse;
    }

    .section-4-div-1{
        width: 340px;
        height: 235px;
        text-align: center;
        
    h2{
        font-size: 36px;
        font-weight: 700;
    }
    }

    .section-4-div-2{
        width: 345px;
        height: 345px;
    img{
        width: 345px;
        height: 345px;
    }
    }
}

/* --- SECTION - 2 - CONTAINER --- */

.section-2-container{
    width: 100%;
    height: 1000px;
    background-color: #DDF4FF;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(Images/svgviewer-png-output.png);
    background-size: 140% auto;
    background-position: center;
    background-repeat: no-repeat;

}






@media(max-width:992px){
    .section-2-container{
        height: 800px;
        background-size: 160% auto;
        background-position: center;
    
    }

    
    
}

@media(max-width:650px){
    .section-2-container{
        height: 600px;
        background-size: 180% auto;
        background-position: center;
    }
}

.sec-2-div-outer{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -250px;
    gap: 100px;
}


.sec-2-div-1{
    width: 583px;
    height: 160px;
    font-size: 64px;
    color: rgba(4, 44, 96, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}


.sec-2-div-2{
    width: 367px;
    height: 62px;
    display: flex;
    justify-content: space-between;
    
    span{
        width: 179px;
        height: 61px;
        background-color: white;
        border-radius: 5px;
        text-align: center;
        padding: 5px;
    }

}

@media(max-width:650px){
    .sec-2-div-1{
        width: 300px;
        height: 200px;
        font-size: 40px;
    }

    .sec-2-div-2{
        width: 300px;
    
    span{
        width: 140px;
    }
    }
}

/* --------SECTION - 3 - CONTAINER */

.section-3-container{
    width: 100%;
    height: 900px;
    background-color: #100F3E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec-3-outer-1{
    width: 988px;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 185px 0;
    gap: 40px;
    margin: 0 auto;
}

.sec-3-div-1{
    width: 530px;
    height: 530px;

}


.sec-3-div-2{
    width: 418px;
    height: 164px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;

    button{
        width: 204px;
        height: 50px;
        border: none;
        border-radius: 5px;
        background-color: white;
        padding: 5px;
        font-size: 14px;
    }
}




@media(max-width:770px){
    .section-3-container{
        height: 860px;
    }

    .sec-3-outer-1{
        height: 860px;
    }
}


@media(max-width:1080px){
    .sec-3-outer-1{
        width: 988px;
        height: 860px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* padding: 185px 0; */
        /* gap: 10px; */
        margin: 0 auto;
    }
}


/* Footer */